.navbar{
	background-image: url('images/skyline.png');
	height:110px;
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
	font-family:Tahoma, Geneva, sans-serif;
}
.navcolor{
	margin-left: 5px;
	margin-right: 5px;
	color:#7CCE1F;
	font-size:30px;
	background-color: white;
}
.logo{
	margin-top: 60px;
	float: left;
	width: 70px;
}
.header{
	font-variant:small-caps;
	text-align: center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 55px;
	margin-top:-10px;
	font-weight: bold;
}
.history{
	background-color:#7CCE1F;
	font-family:Verdana, Geneva, sans-serif;
	color: white;
	border:groove;
	padding: 10px;
	border-color:black;
	margin-top: -45px;
}
.group{
	width:450px;
}
.link{
	color:white;
}
.contacttable{
	border:dashed;	
}
.contact{
	width: 200px;	
}
.contactfont{
	font-family: Snell Roundhand, cursive;
	margin-top:-10px;
	font-size: 20px;
}
.contactfont2{
	float:right;
}
.subheader{
	font-variant:small-caps;
	text-align: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 40px;
	margin-top:-40px;
	font-weight: bold;
	color:#7CCE1F;
}
.aboutfont{
	font-family:Verdana, Geneva, sans-serif;
}
.aboutheader{
	background-color: #0C366A;
	color: white;
	font-family:Tahoma, Geneva, sans-serif;
	padding: 20px;
}
.aboutimage{
	float: right;
	margin: 10px;
	width: 450px;
}
.giveheader{
	font-variant:small-caps;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 55px;
	font-weight: bold;

}
.givefont{
	font-family:Tahoma, Geneva, sans-serif;
}
.givesubheader{
	font-variant:small-caps;
	text-align: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 40px;
	margin-top:-30px;
	font-weight: bold;
	color:#7CCE1F;
	margin-bottom:-25px;
}
.giveimage{
	float: left;
	margin: 10px;
	width: 450px;
}
.giveheader2{
	color: #f67433;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 35px;
}
table, th, td, tr{
	padding: 1px;
	font-family:Tahoma, Geneva, sans-serif;
}
th, td, tr{
	padding: 1px;
	font-family:Tahoma, Geneva, sans-serif;
}
table#small{
	border:1px solid black;
	border-collapse: collapse;
	border-spacing: 0px;
}
th#small, td#small, tr#small{
	border:1px solid black;
	border-collapse: collapse;
	border-spacing: 0px;
}
.schoolssubheader{
	font-variant:small-caps;
	text-align: center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 40px;
	margin-top: -20px;
	margin-bottom: -30px;
	font-weight: bold;
	color:#7CCE1F;
}
.schools{
	font-variant:small-caps;
	text-align: center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 40px;
	font-weight: bold;
}
.schoolsimages{
	width: 40%;
}
