.navbar{
	background-image: url('images/skyline.png');
	height:110px;
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
}
.navcolor{
	margin-left: 10px;
	margin-right: 10px;
	color:#7CCE1F;
	font-size:30px;
	background-color: white;
}
.logo{
	margin-top: 60px;
	float: left;
	width: 70px;
}
.header{
	font-variant:small-caps;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 55px;
	margin-top:-10px;
}
.history{
	background-color:#7CCE1F;
	font-family:Verdana, Geneva, sans-serif;
	color: white;
	border:groove;
	padding: 10px;
	border-color:black;
	margin-top: -45px;
}
.group{
	width:450px;
}
.link{
	color:white;
}
.contacttable{
	border:dashed;	
}
.contact{
	width: 200px;	
}
.contactfont{
	font-family: Snell Roundhand, cursive;
	margin-top:-10px;
	font-size: 20px;
}
.contactfont2{
	float:right;
}